@model ListagemPrestadoresModel

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Documento
            </th>
            <th>
                Formação
            </th>
            <th>
                Endereço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPrestadores)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink(item.Documento, "CadastrarPrestador", "CadastroPrestador", new { documento = item.Documento }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formacao.Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.ActionLink("Registrar Atendimento", "Index", "Atendimento", new { doctoPrestador = item.Documento, nomePrestador = item.Nome }, htmlAttributes: new { @class = "btn btn-info" })
            </td>
        </tr>
        }
    </tbody>
</table>
